/* I decided to use the colours of the music art video for the overal styling of the website. This came down to purple and pink hues. I did not change major things about 
the initial layout. I had more of a focus of creating a cool listening experience, where it is easy to listen to all the tracks of the album */

:root {
  --primary-bg-color: #d7cdd4;
  --text-color: #2b0f19;
  --main-bg-color: #6c3059;
  --main-text-color: #fff;
  --main-btn-bg-color: #aa59a9;
}

body,
h1,
p,
ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Arial", sans-serif;
  background-color: var(--primary-bg-color);
  color: var(--text-color);
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

/* Create a container for the main content */
.container {
  max-width: 1000px;
  width: 100%;
  padding: 10px;
}

/* Header styling */
header {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  padding: 20px 0;
  text-align: center;
  width: 100%;
  font-size: 1.2rem;
}

h2 {
  font-weight: bold;
}

.lyrics {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px;
}

/* Media player styling */
/* decided to not make the picture full width, this way you can still see the other features */
.media-player {
  justify-content: space-between;
  margin: 0 auto;
  width: 600px;
  height: auto;
}

/* resize the image, to make it more visable and part of the listening experience, but not to big to still see the tracklist */
.media-player img {
  width: 100%;
  height: auto;
}

/* control buttons styling */
.custom-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-top: 10px;
  width: 100%;
}

/* play pause button styling */
.custom-controls button {
  background-color: var(--main-btn-bg-color);
  color: var(--main-text-color);
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
}

/* progress bar styling */
.progress-bar {
  width: 100%;
  height: 10px;
  background-color: #ddd;
  margin-top: 10px;
  overflow: hidden;
}

.progress-bar span {
  display: block;
  height: 100%;
  background-color: var(--primary-bg-color);
  width: 0;
  transition: width 0.3s ease;
}

/* tracklist styling, I want the duration of each track all the way on the right side*/
/* so i put space between the elements and aligned the text on the right */
.tracklist {
  width: 100%;
}

.tracklist ul li {
  display: flex;
  justify-content: space-between;
}

.time {
  text-align: right;
}

/* since I connect an audio file to each line of text, I made buttons outs of the list elements. I delete all the regular styling to give the text styling back */
/* get rid of the button its styling to make it look like a normal piece of text */
#song {
  background-color: var(--primary-bg-color);
  border: none;
  color: var(--text-color);
}

/* easily see what information one will get out of the list */
#bold {
  font-weight: bold;
}

/* to give feedback that you can click on the song and let it play I want it to underline the song when on hover
this starts by changing the cursor to a pointer to indicate something can happen there */

.tracklist :hover {
  cursor: pointer;
}

.tracklist ul li :hover {
  text-decoration: underline;
}

/* Footer styling */
footer {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  text-align: center;
  padding: 10px 0;
  width: 100%;
}
