:root {
  --primary-bg-color: #d7cdd4;
  --text-color: #2b0f19;
  --main-bg-color: #6c3059;
  --main-text-color: #fff;
  --main-btn-bg-color: #aa59a9;
}

body,
h1,
p,
ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Arial", sans-serif;
  background-color: var(--primary-bg-color);
  color: var(--text-color);
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

/* Add additional styles as needed */

/* Create a container for the main content */
.container {
  max-width: 1000px;
  width: 100%;
  padding: 10px;
}

/* Header styling */
header {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  padding: 10px 0;
  text-align: center;
  width: 100%;
}

/* Navigation styling */
nav {
  margin-top: 20px;
  text-align: center;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: var(--text-color);
}

.lyrics {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px;
}

/* Media player styling */
.media-player {
  justify-content: space-between;
  margin: 0 auto;
}

.media-player img {
  max-width: 100%;
}

/* .media-player video {
  max-width: 100%;
} */

.custom-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-top: 10px;
  width: 100%;
}

.custom-controls button {
  background-color: var(--main-btn-bg-color);
  color: var(--main-text-color);
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.progress-bar {
  width: 100%;
  height: 10px;
  background-color: #ddd;
  margin-top: 10px;
  overflow: hidden;
}

.progress-bar span {
  display: block;
  height: 100%;
  background-color: var(--primary-bg-color);
  width: 0;
  transition: width 0.3s ease;
}

/* tracklist styling, i want the duration of each track all the way on the right side*/
/* so i put space between the elements and put the text on the right */
.tracklist {
  width: 100%;
}

.tracklist ul li {
  display: flex;
  justify-content: space-between;
}

#duration {
  text-align: right;
}

/* get rid of the button its styling to make it look like a normal piece of text */
#song {
  background-color: var(--primary-bg-color);
  border: none;
  color: var(--text-color);
}

/* to give feedback that you can click on the song and let it play I want it to underline the song when on hover
this starts by changing the cursor to a pointer to indicate something can happen there */

.tracklist :hover {
  cursor: pointer;
}

.tracklist ul li :hover {
  text-decoration: underline;
}

/* Footer styling */
footer {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  text-align: center;
  padding: 10px 0;
  width: 100%;
}
