/* body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
svg {
  width: 30%;
  height: 30%;
  background: #eee;
  margin-bottom: 5%;
}
svg polyline,
svg line,
svg path {
  fill: none;
  stroke: #000;
  stroke-linecap: round;
  stroke-linejoin: round;
  transition: 0.2s;
} */
