.grid-container {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "h1 h1 h1"
    "h2 h2 h2"
    "q1 q1 h1";
}

.h1 {
  grid-area: h1;
}
.h2 {
  grid-area: h2;
}
.q1 {
  grid-area: q1;
}
