/* Fonts used in the website, main font is a handrwitten vibe, for the instructions I also use a more sharp font, since origami itself has a lot of straight edges. 
creating a clear distinction between what text is tutorial step (sharper font) related and what is general information (handwritten) */

/* <weight>: Use a value from 100 to 900 */
/* <uniquifier>: Use a unique and descriptive class name */

.smooch-sans {
  font-family: "Smooch Sans", sans-serif;
  font-optical-sizing: auto;
  /* try different weights out */
  font-weight: 100;
  font-style: normal;
}

.mali-extralight {
  font-family: "Mali", cursive;
  font-weight: 200;
  font-style: normal;
}

.mali-light {
  font-family: "Mali", cursive;
  font-weight: 300;
  font-style: normal;
}

.mali-regular {
  font-family: "Mali", cursive;
  font-weight: 400;
  font-style: normal;
}

.mali-medium {
  font-family: "Mali", cursive;
  font-weight: 500;
  font-style: normal;
}

.mali-semibold {
  font-family: "Mali", cursive;
  font-weight: 600;
  font-style: normal;
}

.mali-bold {
  font-family: "Mali", cursive;
  font-weight: 700;
  font-style: normal;
}

.mali-extralight-italic {
  font-family: "Mali", cursive;
  font-weight: 200;
  font-style: italic;
}

.mali-light-italic {
  font-family: "Mali", cursive;
  font-weight: 300;
  font-style: italic;
}

.mali-regular-italic {
  font-family: "Mali", cursive;
  font-weight: 400;
  font-style: italic;
}

.mali-medium-italic {
  font-family: "Mali", cursive;
  font-weight: 500;
  font-style: italic;
}

.mali-semibold-italic {
  font-family: "Mali", cursive;
  font-weight: 600;
  font-style: italic;
}

.mali-bold-italic {
  font-family: "Mali", cursive;
  font-weight: 700;
  font-style: italic;
}

/* the colour palette is simple in the orgin, with pops of color for the details. usign contrasting colours to create a clear distinction between elements, such as front and back of the paper. */

:root {
  --primary-bg-color: #e0e0e2;
  --text-color: #0a090c;
  --main-detail-color: #6a66a3;
  --front-paper-color: #a62639;
  --back-paper-color: #ff784f;
  --circle-color: #c62e65;
  --circle-color2: #8093f1;
}

body {
  font-family: "Mali", cursive;
  font-weight: 300;
  font-style: normal;
  background-color: var(--primary-bg-color);
  color: var(--text-color);
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start; */
  align-items: center;
  margin: 0 auto;
  flex: 1;
  width: 100%;
  height: 100vh;
}

header {
  background-color: var(--main-detail-color);
  width: 100%;
  color: var(--primary-bg-color);
  padding: 20px;
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
}

.information {
  padding: 20px;
  font-weight: 400;
  font-size: 1.05rem;
}

/* position the side bar on the right side of the screen */
.sidebar {
  /* flex-direction: row; */
  width: 15%;
  height: 100vh;
  border-left: 5px solid var(--text-color);
  position: relative;
  padding-left: 10px;
  background-color: var(--main-detail-color);
}

.origami {
  width: auto;
  height: auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.paper {
  width: 350px;
  height: 350px;
  position: relative;
  /* cursor: pointer; */
  transition: rotate 0.8s ease;
  transform-style: preserve-3d;
}

.square {
  width: 350px;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* cursor: pointer; */
  /* Disabled the cursor so I can focus on the circles buttons for each step, not the whole piece of paper */
}

.square.front {
  position: absolute;
  background-color: var(--front-paper-color);
  backface-visibility: hidden;
  overflow: hidden;
}

.square.back {
  position: absolute;
  background-color: var(--back-paper-color);
  backface-visibility: hidden;
}

.flip {
  rotate: y 180deg;
}

.player {
  padding-top: 20px;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  /* flex-direction: row; */
  text-align: center;
}

.control {
  padding: 15px;
  background-color: var(--main-detail-color);
  border: none;
  margin-right: 15px;
}

/* change the size and color when hovering over it, to make it more clear you can click it */
.control:hover {
  scale: 1.2;
  transition: scale 0.4s ease;
  cursor: pointer;
  /* background-color: #c6c4e5; */
  background-color: var(--circle-color2);
  color: #0a090c;
}

/* I am using position absolute to easily identify where in the square box I need each step to start. Each circle button has the same style but a different position, 
so I use the ID element to change position of each button, this way I could first ensure they work how I want to, and later perfect to positioning of each button within the container*/

.click-circle {
  position: absolute;
  width: 45px;
  height: 45px;
  background-color: var(--primary-bg-color);
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  font-weight: 600;
  font-family: "Smooch Sans", sans-serif;
  columns: var(--main-detail-color);
  transition: 0.4s ease;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
}

/* same colour and scale transition as the footer buttons, to create a consitency, making it more clear these are also buttons you can click  */
.click-circle:hover {
  background-color: var(--circle-color2);
  border: none;
  scale: 1.2;
}

/* track easily on which step you are, without having to read each button, you go to the button with a different colour. Giving the user feedback they have completed a step online */
.click-circle.completed {
  background-color: var(--main-detail-color);
  color: var(--primary-bg-color);
}

/* hide the buttons at the beginning of the tutorial */
.click-circle.hidden {
  display: none;
}

/* positioning each circle to where the step starts */
#circle1 {
  top: 20px;
  right: 20px;
}

#circle2 {
  bottom: 20px;
  left: 20px;
}

#circle3 {
  bottom: 80px;
  left: 50px;
}

#circle4 {
  left: 100px;
  bottom: 200px;
}

#circle5 {
  top: 200px;
  right: 150px;
}

#circle6 {
  right: 70px;
  bottom: 100px;
}

#circle7 {
  top: 20px;
  left: 20px;
}

/* I created my own SVG paths using the following websites */
/* https://css-tricks.com/svg-path-syntax-illustrated-guide/ */
/* https://pompeu.neocities.org/p5/svg/genera/ */
/* Using position absolute again, to position it the same way as the circle buttons, using no mouse pointer, to lead people more to the circle buttons */

#origami-svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.svg.hidden {
  display: none;
}
