/* Fonts used in the website, main font is a handrwitten vibe, for the instructions I also use a more sharp font, since origami is also about
sharp edges */

/* <weight>: Use a value from 100 to 900 */
/* <uniquifier>: Use a unique and descriptive class name */

.smooch-sans {
  font-family: "Smooch Sans", sans-serif;
  font-optical-sizing: auto;
  /* try different weights out */
  font-weight: 100;
  font-style: normal;
}

.mali-extralight {
  font-family: "Mali", cursive;
  font-weight: 200;
  font-style: normal;
}

.mali-light {
  font-family: "Mali", cursive;
  font-weight: 300;
  font-style: normal;
}

.mali-regular {
  font-family: "Mali", cursive;
  font-weight: 400;
  font-style: normal;
}

.mali-medium {
  font-family: "Mali", cursive;
  font-weight: 500;
  font-style: normal;
}

.mali-semibold {
  font-family: "Mali", cursive;
  font-weight: 600;
  font-style: normal;
}

.mali-bold {
  font-family: "Mali", cursive;
  font-weight: 700;
  font-style: normal;
}

.mali-extralight-italic {
  font-family: "Mali", cursive;
  font-weight: 200;
  font-style: italic;
}

.mali-light-italic {
  font-family: "Mali", cursive;
  font-weight: 300;
  font-style: italic;
}

.mali-regular-italic {
  font-family: "Mali", cursive;
  font-weight: 400;
  font-style: italic;
}

.mali-medium-italic {
  font-family: "Mali", cursive;
  font-weight: 500;
  font-style: italic;
}

.mali-semibold-italic {
  font-family: "Mali", cursive;
  font-weight: 600;
  font-style: italic;
}

.mali-bold-italic {
  font-family: "Mali", cursive;
  font-weight: 700;
  font-style: italic;
}

:root {
  --primary-bg-color: #e0e0e2;
  --text-color: #0a090c;
  --main-detail-color: #6a66a3;
  --front-paper-color: #a62639;
  --back-paper-color: #ff784f;
}

body {
  font-family: "Mali", cursive;
  font-weight: 300;
  font-style: normal;
  background-color: var(--primary-bg-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width: 100vw;
}

.container {
  /* max-width: 100%;
  width: 100%; */
  /* padding: 10px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

header {
  background-color: var(--main-detail-color);
  width: 100%;
  color: var(--primary-bg-color);
  padding: 20px;
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
}

.origami {
  /* width: 100%; */
}

.square {
  width: 350px;
  height: 350px;
  background-color: var(--front-paper-color);
  align-items: center;
}
